body{
    font-family: 'Roboto', sans-serif; 
}

/* main */
.left-nav{
    background: rgb(0, 0, 0);
}

.left-nav nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.background-main{
    background: rgb(21, 25, 33);
    color: white;
}

.col-nav{
    min-width: 50px;
}

.ico-nav{
    width: 44px;
    padding: 0 8px;
}

.ico-download{
    width: 34px;
    padding: 0 8px;
}

.margin-bottom{
    margin-bottom: 15px;
}

.avatar{
    background-color: grey;
    border-radius: 50%;
    padding: 1px 3px;
}

.padding-xs-nav{
    padding: 5px;
}

.margin-xs-bottom{
    margin-bottom: 10px;
}

.vh-100{
    height: calc(100vh - 80px);
}

.header-top{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 80px;
}

.nav-link{
    color: grey;
    text-transform: uppercase;
}

.margin-right-link{
    margin-right: 15px;
}

.padding-y-content-card{
    padding: 100px 30px;
}

.nav-main{
    height: 80px;
}


/* footer */
footer .content{
    background: rgb(40, 40, 40);
    height: 80px;
}



/* debug */
/*
.debug .box{
    background: red;
}

.debug .container-fluid{
    background-color: pink;
}

.debug section.h-100{
    background: yellow;
}
*/

.debug div.padding-y-content-card{
    background: red;
}

.debug .nav-main{
    background: blue;
}

.debug .content-cards{
    background:chartreuse;
}

.debug .card{
    background-color: violet;
    width: calc(150px - 10px);
    height: 200px;
    margin: 10px 5px 10px 0;
}