body{
    font-family: 'Roboto', sans-serif; 
}

/* main */
.left-nav{
    background: rgb(0, 0, 0);
}

.left-nav nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: hidden;
}

.background-main{
    background: rgb(21, 25, 33);
    color: white;
}

.col-nav{
    min-width: 50px;
    max-width: 50px;
}

ul{
    list-style-type: none;
}

.ico-nav{
    width: 44px;
    padding: 0 8px;
}

.ico-download{
    width: 34px;
    padding: 0 8px;
}

.nav.nav-main{
    align-items: flex-start;
}

.nav.nav-main li{
    text-align: center;
}

.active-ico{
    border-left: 4px solid limegreen;
    margin-left: -4px;
}

.active{
    color: white !important;
}

.active-link::after{
    content: '';
    display: inline-block;
    width: 40%;
    border-bottom: 3px solid limegreen;
}

.text-sm{
    display: none;
}

.margin-bottom{
    margin-bottom: 15px;
}

.avatar{
    background-color: grey;
    border-radius: 50%;
    padding: 1px 3px;
    width: 35px;
}

.padding-xs-nav{
    padding: 5px;
}

.margin-xs-bottom{
    margin-bottom: 10px;
}

.vh-100{
    height: calc(100vh - 80px);
}

.call-to-action{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    width: calc(100% - 50px);
    height: 80px;
    z-index: 1;
}

.call-to-action .btn{
    display: inline-block;
    color: white;
    text-transform: uppercase;
    margin-right: 20px;
}

.scale:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.nav-link{
    color: grey;
    text-transform: uppercase;
}

#nav-main li{
    line-height: 6px;
}

.margin-right-link{
    margin-right: 15px;
}

.padding-y-content-card{
    padding: 100px 12px;
}

.nav-main{
    height: 80px;
}

.playlist{
    margin-top: 20px;
}

.category-playlist{
    margin-bottom: 15px;
}

.content-card {
    padding: 10px 10px 10px 0;
}

.img-card{
    position: relative;
}

.img-card img{
    display: flex;
    max-width: 100%;
}

.overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}

.icon-play{
    color: white;
    font-size: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.content-card:hover .overlay{
    display: block;
}

.info-playlist{
    margin-top: 10px;
    text-align: center;
}

.title-playlist{
    font-size: 14px;
    color: white;
}

.sub-title-playlist{
    color: grey;
    line-height: 1.6;
}

.save-favorite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: grey;
}

/* footer */
footer .content{
    background: rgb(40, 40, 40);
    height: 80px;
}

footer .song-play{
    height: 80px;
    display: flex;
    align-items: center;
}

footer .save-favorite{
    height: 80px;
 }

 .song-play img{
    max-height: 36px;
    margin-left: 5%;
 }

 .song-play .info-playlist{
    text-align: left;
    margin: 0 12px 0 7px;
    font-size: 10px;
 }

 footer .save-favorite{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    color: grey;
 }

 .playback-buttons{
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 59px;
 }

 .playback-buttons i{
    margin-right: 5px;
 }

 .duration{
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.duration .bar{
    display: inline-block;
    width: 80%;
    height: 5px;
    border-radius: 10px;
    background: gray;
    cursor: pointer;
}

.bar .last-time{
    width: 40%;
    height: 5px;
    border-radius: 10px;
    background: rgb(201, 197, 197);
}

.bar .progess-bar{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: limegreen;
    position: relative;
}

.progess-bar .pointer{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -7.5px;
    right: 0;
    background: white;
    border-radius: 50%;
}

.bar:hover .d-none{
    display: block;
}

.duration .time{
    font-size: 10px;
    color: white;
}

.duration.volume{
    height: 80px;
    justify-content: flex-end;
    color: white;
}

.duration.volume > *{
    margin-right: 5%;
}

.duration.volume .bar{
    width: 35%;
}

/* responsive 576px */
@media screen and (min-width: 576px){
    .col-nav{
        min-width: 200px;
        max-width: 200px;
    }

    .logo-small{
        display: none;
    }

    .logo{
        display: block;
    }

    .logo .ico-nav{
        width: 155px;
    }

    .text-sm{
        display: inline;
        text-transform: none;
    }

    .cont-playlist{
        display: block;
        padding: 5px;
        height: 100%;
        overflow: hidden;
    }

    .cont-playlist h3{
        text-transform: uppercase;
        color: white;
        padding: 0 8px;
    }

    .cont-playlist i {
        font-size: 40px;
        vertical-align: middle;
    }

    .list-nav-link{
        margin-top: 20px;
        height: 70%;
        overflow-y: auto;
    }

    .cont-playlist li{
        margin-bottom: 20px;
    }

    .hr{
        display: block;
        border: 0;
        border-top: 1px solid gray;
        width: 90%;
        margin: 15px 7px;
    }

    .call-to-action{
        width: calc(100% - 200px);
    }

}

@media screen and (max-height: 350px){
    .call-to-action{
        display: none;
    }
}

