body{
    font-family: 'Roboto', sans-serif; 
}

/* main */
.left-nav{
    background: rgb(0, 0, 0);
}

.left-nav nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.background-main{
    background: rgb(21, 25, 33);
    color: white;
}

.col-nav{
    min-width: 50px;
    max-width: 50px;
}

.ico-nav{
    width: 44px;
    padding: 0 8px;
}

.ico-download{
    width: 34px;
    padding: 0 8px;
}

.margin-bottom{
    margin-bottom: 15px;
}

.avatar{
    background-color: grey;
    border-radius: 50%;
    padding: 1px 3px;
}

.padding-xs-nav{
    padding: 5px;
}

.margin-xs-bottom{
    margin-bottom: 10px;
}

.vh-100{
    height: calc(100vh - 80px);
}

.call-to-action{
    background: rgba(0, 0, 0, 0.5);
    width: calc(100% - 50px);
    height: 80px;
    line-height: 80px;
    text-align: right;
    z-index: 1;
}

.call-to-action .btn{
    color: white;
    text-transform: uppercase;
    margin-right: 20px;
}

.nav-link{
    color: grey;
    text-transform: uppercase;
}

.margin-right-link{
    margin-right: 15px;
}

.padding-y-content-card{
    padding: 100px 12px;
}

.nav-main{
    height: 80px;
}

.playlist{
    margin-top: 20px;
}

.category-playlist{
    margin-bottom: 15px;
}

.content-card {
    padding: 10px 10px 10px 0;
}

.img-card{
    position: relative;
}

.img-card img{
    display: flex;
    max-width: 100%;
}

.overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}

.icon-play{
    color: white;
    font-size: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.content-card:hover .overlay{
    display: block;
}

.info-playlist{
    margin-top: 10px;
    text-align: center;
}

.title-playlist{
    font-size: 14px;
    color: white;
}

.sub-title-playlist{
    color: grey;
    line-height: 1.6;
}

.save-favorite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: grey;
}

/* footer */
footer .content{
    background: rgb(40, 40, 40);
    height: 80px;
}

footer .song-play{
    height: 80px;
    display: flex;
    align-items: center;
}

footer .save-favorite{
    height: 80px;
 }

 .song-play img{
    max-height: 36px;
    margin-left: 5%;
 }

 .song-play .info-playlist{
    text-align: left;
    margin: 0 12px 0 7px;
    font-size: 10px;
 }

 footer .save-favorite{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    color: grey;
 }

 .playback-buttons{
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 59px;
 }

 .playback-buttons i{
    margin-right: 5px;
 }

 .duration{
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.duration .bar{
    display: inline-block;
    width: 80%;
    height: 5px;
    border-radius: 10px;
    background: gray;
}

.bar .last-time{
    width: 40%;
    height: 5px;
    border-radius: 10px;
    background: white;
}

.duration .time{
    font-size: 10px;
    color: white;
}



/* debug */
/*
.debug .box{
    background: red;
}

.debug .container-fluid{
    background-color: pink;
}

.debug section.h-100{
    background: yellow;
}
*/

.debug div.padding-y-content-card{
    background: red;
}

.debug .nav-main{
    background: blue;
}

.debug .content-cards{
    background:chartreuse;
}

.debug .card{
    background-color: violet;
}

.debug footer .content{
   background: cornflowerblue;
   border: 1px solid black;
}

.debug footer .song-play{
    background: yellow;
    border: 1px solid black;
}

 .debug footer .save-favorite{
    background: pink;
    border: 1px solid black;
 }

 .debug .playback-buttons{
    background:burlywood;
 }

 .debug .duration{
     background: crimson;
 }